.App {
  background-color: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Ball {
  background-color: #02eeff;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: calc(50vh - 4rem);
}

.Ball2 {
  top: calc(50vh + 2rem);
}
